<!--
<div class="map-wrap">
  <div class="map" #map>
    <mgl-marker [lngLat]="initialCoords"> </mgl-marker>
  </div>
</div>

-->
<mgl-map
  [style]="
    'https://api.maptiler.com/maps/streets/style.json?key=2V7ngkMVCgPZXnldShpS'
  "
  [zoom]="[14]"
  [center]="initialCoords"
  #map
>
  <mgl-marker *ngFor="let marker of markerList" [lngLat]="marker._lngLat">
    <img
      src="https://placekitten.com/g/27/41"
      (click)="onMarkerClick(marker)"
    />
  </mgl-marker>
  <mgl-control mglNavigation position="top-left"></mgl-control>
  <mgl-control position="top-left">
    <div class="modal" [ngClass]="{ 'is-active': selectedMarker }">
      <p>Modal triggered by {{ selectedMarker?.name }}</p>
    </div>
  </mgl-control>
</mgl-map>

{{ selectedMarker }}
